{
  "title": "特快車圖庫",

  // Displaying the source on you nav-bar
  "host_link": "http://blog.motion-express.com",
  "host_display_text": "部落格",

  // Select the folder you store images
  "root_folder": "images",

  // Website language: either "zh-tw" or "en"
  "language": "zh-tw",

  "Push to GitHub after generation": false
}
